.nicelink {
  color: inherit;
  text-decoration: underline;
  /* position text decoration line a bit below: */
  text-underline-offset: .1em;
  text-decoration-color: rgba(0,0,0,0.4);
}
.appStore img {
  display: block;
}
.appStore:hover {
  filter: saturate(0) invert();
}
.app {
  padding: 10px 15px;
  margin: 3px;
  border-radius: 10px;
  -box-shadow: rgba(0,0,0,0.03) 0px 0px 10px 4px;
  background: black;
  color: white;
  font-weight: 500;
  text-decoration: none !important;
  border: 1px solid transparent;
}
.app:hover {
  background: rgb(240,240,240);
  color: black;
  border: 1px solid black;
}
.appIcon {
  vertical-align: middle;
  font-size: 1.3em;
  margin-right: .1em;
}
.vidBlock {
  display: block;
  width: 310px;
}
.instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.instafeed > a {
  margin: 5px;
}
h1.heading {
  font-size: 1.5em;
  margin-top: 3em;
  text-transform: uppercase;
  font-weight: 400;
  color: #666;
  margin-bottom: .5em;
  text-align: center;
}
