---
slug: aws-cognito-prevent-email-verification
title: 'AWS Cogntio: Prevent email from being sent when email changed'
authors: mifi
tags:
  - open source
  - aws
---

**Note: [Moved here](/docs/aws/cognito).**
